.serviceDetails{
    padding-top: 50px;
    margin: 0px;
    box-sizing: border-box;
}

.serviceDetails-box{
    max-width:1200px;
    margin: 70px auto;
    margin-bottom: 120px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    box-shadow: 0px 0px 3px #000;
    padding: 60px 10px 60px 10px;
}

.content-box{
    width: 20%;
    background-color: rgb(241, 241, 241);
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 10px;
    color: black;
}
.content-box img{
    width: 100%;
    max-height: 147px;
}

.content-img{
    height: 155px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 25px; */
}

.content-box h3{
    text-align: center;
   padding-top:15px;
    font-size: 18px;
}
.content-box:hover h3 {
    margin-top: -10px;
    transition: all 0.3s;
}

.content-box h4{
    /* text-align: center; */
    margin-bottom: 10px;
}

.serviceDetails h1{
    text-align:center;
    font-size: 50px;
    margin-top: 80px ;
    color: orange;
    font-weight: 700;
    font-family:sans-serif;
}
@media (max-width:767px) {
    .serviceDetails-box{
        flex-direction: column;
        margin-right: 10px;
        box-shadow: none;
        padding: 0;
        margin-bottom: 50px;
    }
    .content-box{
        width: 100%;
        margin: 0px;
    }
    .serviceDetails h1{
        font-size: 40px;
    }
    .content-box img{
        max-height: none;
    }
    .content-box{
        margin-bottom: 50px;
        height: none;
    }
    .content-box h3{
        margin-bottom: 0px;
        bottom: -1;
    }
}